.slide-content {
    position: relative;
    height: 87.5vh;
  }
  
.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    padding-top: 40%;
}
  
.text-overlay h3, .text-overlay p {
    margin: 0;
    padding: 10px;
}

.fondo {
    object-fit: cover;
    width: 100%;
    height: 80%;
    min-width: 100%;
    min-height: 100%;
}

.logo {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 30%;
    width: auto;
    height: auto;
}

@media (width > 1700px ) {
    .text-overlay {
        padding-top: 30%;
    }
}