<!--
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="text-center">Mis apuestas</ion-title>
    </ion-toolbar>
  </ion-header>
-->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">apuestas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let apuesta of apuestas">
    {{ apuesta.id }}
    {{ apuesta.betMoney }}
    {{ apuesta.idDriver }}
    <!--{{ (getDriverById(apuesta.idDriver) | async )?.name }}-->
    {{ ( driver$ | async)?.name }}
  </ion-list>

</ion-content>
