<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pilotos" href="/tabs/pilotos">
      <ion-icon aria-hidden="true" name="car-sport"></ion-icon>
      <ion-label>{{ 'app.pilotos' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="circuitos" href="/tabs/circuitos">
      <ion-icon aria-hidden="true" name="map"></ion-icon>
      <ion-label>{{ 'app.circuitos' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="apuestas" href="/tabs/apuestas">
      <ion-icon aria-hidden="true" name="cash"></ion-icon>
      <ion-label>{{ 'app.apuestas' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
