<body>
  <div class="overlay">
    <ion-grid class="login">
      <form [formGroup]="form" (ngSubmit)="onSignIn()">
        <img src="../../../../../assets/images/logo.png">
        <ion-list>
          <ion-item>
            <ion-label position="stacked">
              {{ 'login.email' | translate }}
            </ion-label>
            <ion-input [enterkeyhint]="'next'" autocomplete="email" type="text" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">
              {{ 'login.password' | translate }}
            </ion-label>
            <ion-input (keyup.enter)="form.valid?onSignIn():null" [enterkeyhint]="'enter'" autocomplete="password" type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-label id="incorrecta" style="color: rgb(255, 70, 70); display: none; margin-top: 5%;">
          {{ 'login.incorrecta' | translate }}
        </ion-label>
        <ion-row style="margin-top: 5%;">
          <ion-col>
            <div class="form-button right">
              <ion-button [disabled]="!form.valid" (click)="onSignIn()" color="danger">{{ 'login.login' | translate }}</ion-button>
            </div>
          </ion-col>
          <ion-col>
            <ion-label class="colorGris">
              {{ 'login.noTienes' | translate }}
             </ion-label>
             <div class="form-button right">
               <ion-button (click)="register()" color="primary" fill="clear">
                 <small>{{ 'login.register' | translate }}</small>
               </ion-button>
             </div>
          </ion-col>
        </ion-row>
          </form>   
    </ion-grid>
  </div>
</body>