body {
    // background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
    background-image: url('../../../../../assets/images/home.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ion-grid {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background: #121212;
}

.center {
    text-align: center;
}

.overlay {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}