.bordes {
    border-radius: 20px;
}

ion-list {
    background-color: var(--ion-background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}

ion-card {
    display: inline-block;
    width: 250px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}