<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center">Pilotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pilotos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item *ngFor="let driver of drivers">
    <ion-label>{{ driver.name }}</ion-label>
    <ion-label>{{ driver.team }}</ion-label>
    <ion-label>{{ driver.yearBirth }}</ion-label>
  </ion-item>
  
</ion-content>
