<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center">Circuitos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">circuitos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item *ngFor="let circuit of circuits">
    <ion-label>{{ circuit.nameCircuit }}</ion-label>
    <ion-label>{{ circuit.country }}</ion-label>
    <ion-label>{{ circuit.laps }}</ion-label>
    <ion-label>{{ circuit.length }}</ion-label>
  </ion-item>

</ion-content>
