<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center">Circuitos</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">circuitos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngFor="let circuit of circuits" class="bordes">
      <ion-row>
        <ion-col>
          <div *ngIf="circuit" class="zoom-div">
            <img *ngIf="!circuit.picture" src="https://ionicframework.com/docs/img/demos/avatar.svg" class="bordes zoom-img">
            <img *ngIf="circuit.picture" [src]="circuit.picture" class="bordes">
          </div>
        </ion-col>
        <ion-col>
          <ion-row class="mt-4">
            <div>
              <ion-title class="color-white"><b>{{ circuit.nameCircuit }},</b></ion-title>
              <ion-title class="color-white">{{ circuit.country }}</ion-title>
            </div>
          </ion-row>
          <div class="ml-7">
            <ion-row class="mt-7">
              <ion-label class="color-white">{{ 'circuitos.vueltas' | translate }}</ion-label>&nbsp;<ion-label>{{ circuit.laps }}</ion-label>
            </ion-row>
            <ion-row class="mt-4">
              <ion-label class="color-white">{{ 'circuitos.longitud' | translate }}</ion-label>&nbsp;<ion-label>{{ circuit.length }}km</ion-label>
            </ion-row>
            <!--<ion-row class="mt-7">
              <ion-button expand="block" color="success" (click)="onApostar()">
                {{ 'circuitos.apostar' | translate }} &nbsp;
                <ion-icon name="cash-outline"></ion-icon>
              </ion-button>
            </ion-row>-->
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

</ion-content>
