.bordes {
    border-radius: 20px;
}

ion-list {
    background-color: var(--ion-background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}

ion-card {
    display: inline-block;
    width: 550px;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.color-white {
    color: white;
}

ion-card ion-title {
    font-size: 2em;
}

.mt-4 {
    margin-top: 4%;
}

.mt-7 {
    margin-top: 7%;
}

.ml-7 {
    margin-left: 7%;
}

ion-row ion-label {
    font-size: 1.2em;
}

ion-button.botones {
    min-width: 200px;
}

.titulo { // ion-label del ion row
    color: white;
    font-size: 1.8em;
}

.subtitulo { // ion-label del ion row
    font-size: 1.2em;
}

// al pasar el cursor por encima
ion-card:hover {
    background-color: #383a3e;
    cursor: pointer;
    transition: 0.5;
}

// imgs
.zoom-div {
    overflow: hidden;
}

.zoom-img {
    transition: transform 0.5s;
}

.zoom-div:hover .zoom-img {
    transform: scale(1.1);
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}