<ion-toolbar>
  <ion-title><b><ion-icon name="settings-outline" color="white"></ion-icon>&nbsp;Ajustes</b></ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">
      <ion-icon color="danger" name="close-outline" class="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding">
  <div class="container">
    <ion-row>
      <ion-title>{{ 'app.sesion' | translate }}</ion-title>
    </ion-row>
    <ion-row class="usuario">
      <ion-col>
        <ion-avatar style="width: 80px; height: auto;"><img src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-avatar>
      </ion-col>
      <ion-col size="8">
        <ion-row class="datos">
          <ion-col>
            <ion-label><b>{{ 'ajustes.usuario' | translate }} </b></ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{ (user$ | async)?.userName }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="datos">
          <ion-col>
            <ion-label><b>Email: </b></ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{ (user$ | async)?.email }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="datos">
          <ion-col>
            <ion-label><b>{{ 'ajustes.dinero' | translate }} </b></ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{ (user$ | async)?.betMoney }}€</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="botones">
      <ion-col>
        <ion-button color="danger" (click)="logOut()"><ion-icon name="log-out-outline"></ion-icon>
          <ion-label>&nbsp;&nbsp;<b>{{ 'ajustes.cerrarSesion' | translate }}</b></ion-label>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger" (click)="eliminarCuentaAlert()"><ion-icon name="ban-outline"></ion-icon>&nbsp;<b>{{ 'ajustes.eliminarCuenta' | translate }}</b></ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="botones">
      <ion-col>
        <ion-button color="success" (click)="onEditUser()"><ion-icon name="create-outline"></ion-icon>
          <ion-label>&nbsp;&nbsp;<b>{{ 'pilotos.editar' | translate }}</b></ion-label>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="success" (click)="onToggleAdmin()">
          <ion-icon name="person-outline"></ion-icon><ion-label>&nbsp;&nbsp;<b>Admin</b></ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <div style="text-align: center; margin-top: 5%;">
        <ion-label *ngIf="(user$ | async)?.admin">{{ 'admin.estas' | translate }}</ion-label>
        <ion-label *ngIf="!(user$ | async)?.admin">{{ 'admin.noEstas' | translate }}</ion-label>
      </div>
    </ion-row>
  </div>
</ion-content>